


    <div class="container p-4 mt-5  ">

              {{>message}}

         <div class="card grid-item mx-auto">

                <div class="card-graphic"><img src="/images/user.png" alt=""></div>
                       <h3>Bienvenido {{user.Usuario}}</h3>
                <p class="card-message">Patacon Maja'o Gracias por preferirnos</p>
                <a href="/links/showWebCotations" class="card-button btn ">Solicitudes</a>
              </div>

     
</div>