
<nav id="navBar" class="navbar navbar-expand navbar-dark">
  <div class="container">
    <a class="navbar-brand" >
    <img class="logo" src="/images/chef.png"><span class="ml-5">Patacon Maja'o</span>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ml-auto">

        <li class="nav-item">
          <a class=" nav-link" href="/"><i class=" fas fa-home mr-2"></i>Inicio</a>
        </li>

      </ul>
    </div>
  </div>
</nav>