<div class="sidebar">
    <div class="bg_shadow"></div>
    <div class="sidebar-menu">
        <div class="close">
            <i class="fas fa-times"></i>
        </div>
        <div class="top-img">
            <div class="profile_data">
                <p ><img class="logo" src="/images/chef.png"><span class="ml-4">
                        <span class="top-header">Patacon Maja'o</span></p>
            </div>
        </div>
        <ul class="siderbar_menu">
            <li><a href="/profile" class="close-li">

                    <div class="title">
                        <div class="icon"><i class="fas fa-home mr-3"></i>Inicio</div>
                    </div>
                </a></li>
                   <li><a href="/links/showWebCotations" class="close-li">

                    <div class="title">
                        <div class="icon"><i class="fas fa-envelope mr-3"></i>Solicitudes Web</div>
                    </div>
                </a></li>
                   <li><a href="/links/showCustomers" class="close-li">

                    <div class="title">
                        <div class="icon"><i class="fas fa-user-tie mr-3"></i>Clientes</div>
                    </div>
                </a></li>


            <li><a href="/links/showEmployees" class="close-li">

                    <div class="title">
                        <div class="icon"><i class="fas fa-user mr-3"></i>Empleados</div>
                    </div>
                </a></li>

            <li><a href="/links/showProducts" class="close-li">

                    <div class="title">
                        <div class="icon"><i class="fas fa-boxes mr-3"></i>Productos</div>
                    </div>
                </a></li>
                   <li><a href="/links/showQuotations" class="close-li">

                    <div class="title">
                        <div class="icon"><i class="fas fa-file-contract mr-3"></i>Cotizaciones</div>
                    </div>
                </a></li>

       

       

            <li><a href="/links/events" class="close-li">

                    <div class="title">
                        <div class="icon"><i class="fas fa-calendar-alt mr-3"></i>Eventos</div>
                    </div>
                </a></li>
          <li><a href="/links/settings" class="close-li">

                    <div class="title">
                          
                        <div class="icon"> <i class="fas fa-cogs mr-2"></i>Configuraciones</div>
                    </div>
                </a></li>
 <li><a href="/logout"><i class="fas fa-power-off mr-3"></i>Cerrar Session</a></li>



        </ul>
    </div>
</div>