
      <div class="top_navbar">
        <div class="hamburger">
          <div class="hamburger__inner">
            <i class="fas fa-stream"></i>
          </div>
        </div>   
        <p class="titulo">Sistema de ordenes</p>

      </div>