<div class="division-container p-5">

    <div class="row mt-5">
   <div class="col-12 col-md-4 mb-3">
            <main class="grid" role="main">
              <div class="card">
                <div class="card-graphic"><img src="/images/roles.png" alt=""></div>
                <h1 class="card-title">Agregar Roles</h1>
   <form  onclick="return addRoles()"  action="/links/addRoles" method="POST">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                               
                                    <input id="Cod_Rol" type="text" name="Cod_Rol" placeholder="Codigo Rol*" class="form-control"
                                        autofocus>
                                </div>
                            </div>

                        </div>
                        <div class="row">

                            <div class="col-12">
                                <div class="form-group">
                                   
                                    <input id="Tipo_Rol" type="text" name="Tipo_Rol" placeholder="Descripcion Rol*" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                 <div class="form-group">
                       <button class="card-button btn ">Guardar</button>
                            </div>
                            </div>
                        </div>

                   </form>
              </div>




            </main>

   </div>

<div class="col-12 col-md-8 ">

  <div class="card-2 mx-auto">

    <div class="card-body">
<div class="table-responsive ">
        <table class="table table-hover   mydatatable">

          <thead>

            <tr>

              <th class="text-left" colspan="4">
                <h3>Patacon Maja'o roles de acceso </h>
              </th>
             
            </tr>
           <tr>
                                                 
                                                  
                                                     <th scope="col">Codigo Rol</th>
                                    <th scope="col">Descripcion Role</th>
                                                        <th scope="col">Borrar</th>
              <th scope="col">Nuevo</th>
                                                </tr>
          </thead>


          <tbody>
             {{#each roles}}
            <tr>


                                                      <td>{{Cod_Rol}}</td>
                                   <td>{{Tipo_Rol}}</td>
            <td class="text-center"><a href="/links/deleteRoles/{{Cod_Rol}}" class="text-danger " role="button"
                  aria-pressed="true"><i class="far fa-trash-alt"></i></a></td>
              <td class="text-center"><a href="/links/editRoles/{{Cod_Rol}}" class="text-info" role="button"
                  aria-pressed="true"><i class="far fa-edit"></i></a></td>

            </tr>
            {{/each}}
          </tbody>



        </table>
      </div>



    </div>


  </div>





    </div>





</div>


</div>