<div class="division-container p-4">

    <div class="row mt-5">
   <div class="col-12   mx-auto">
            <main class="grid" role="main">
              <div class="card">
                <div class="card-graphic"><img src="/images/roles.png" alt=""></div>
                <h1 class="card-title">Editar Roles</h1>
  <form onclick="return addRoles()" action="/links/editRoles/{{roles.Cod_Rol}}" method="POST">
                        <div class="row">
                            <div class="col-12">
                                <div class="form-group">
                               
                                    <input id="Cod_Rol" type="text"      value="{{roles.Cod_Rol}}"  name="Cod_Rol" placeholder="Codigo Rol*" class="form-control"
                                        disabled>
                                </div>
                            </div>

                        </div>
                        <div class="row">

                            <div class="col-12">
                                <div class="form-group">
                                   
                                    <input id="Tipo_Rol" type="text" name="Tipo_Rol"  value="{{roles.Tipo_Rol}}"  placeholder="Descripcion Rol*" class="form-control">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-12">
                                 <div class="form-group">
                       <button class="card-button btn ">Guardar</button>
                            </div>
                            </div>
                        </div>

                   </form>
              </div>




            </main>

   </div>







</div>


</div>