
<div class="row d-flex justify-content-around m-0">


          <div class="col-12 col-md-9">
            <main class="grid" role="main">
              <div class="card grid-item">
                <div class="card-graphic"><img src="/images/show.png" alt=""></div>
                <h1 class="card-title">Ver Eventos</h1>
                <p class="card-message">Esta opcion te permite ver los eventos registrados!</p>
                <a href="/links/showEvents" class="card-button btn ">Visitar</a>
              </div>


              <div class="card grid-item">
                <div class="card-graphic"><img src="/images/add.png" alt=""></div>
                <h1 class="card-title">Crear Eventos</h1>
                <p class="card-message">Esta opcion te permitira agregar nuevos eventos!</p>
                <a href="/links/addEvents" class="card-button btn ">Visitar</a>
              </div>

            </main>

          </div>

        </div>

    
