<div class="division-container mt-5">

  <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row d-flex justify-content-around m-0">


          <div class="col-12 col-md-9">
            <main class="grid" role="main">
              <div class="card grid-item">
                <div class="card-graphic"><img src="/images/password.png" alt=""></div>
                <h1 class="card-title">Cambiar Contraseña</h1>
                <p class="card-message">Esta opcion te permitira cambiar tu contraseña!</p>
                <a href="/editPassword" class="card-button btn ">Visitar</a>
              </div>


              <div class="card grid-item">

                <div class="card-graphic"><img src="/images/roles.png" alt=""></div>
                <h1 class="card-title">Agregar Roles</h1>
                <p class="card-message">Esta opcion te permitira agregar roles de acceso!</p>
                <a href="/links/addRoles" class="card-button btn ">Visitar</a>
              </div>


              <div class="card grid-item">
                <div class="card-graphic"><img src="/images/categories.png" alt=""></div>
                <h1 class="card-title">Categorias Productos</h1>
                <p class="card-message">Esta opcion te permitira agregar categorias!</p>
                <a href="/links/addCategory" class="card-button btn ">Visitar</a>
              </div>

            </main>

          </div>

        </div>

      </div>

      <div class="carousel-item">
        <div class="row d-flex justify-content-around m-0">
          <div class="col-12 col-md-9">
            <main class="grid" role="main">
              <div class="card grid-item">

                <div class="card-graphic"><img src="/images/status.png" alt=""></div>
                <h1 class="card-title">Estados Eventos</h1>
                <p class="card-message">Agregar estados para tus eventos!</p>
                <a  href="/links/addStatus"  class="card-button btn ">Visitar</a>
              </div>

              <div class="card grid-item">

                <div class="card-graphic"><img src="/images/events.png" alt=""></div>
                <h1 class="card-title">Tipo de Eventos</h1>
                <p class="card-message">Agrega diferentes tipos de eventos!</p>
                <a  href="/links/addTypeEvent" class="card-button btn ">Visitar</a>
              </div>


              <div class="card grid-item">

                <div class="card-graphic"><img src="/images/profile.png" alt=""></div>
                <h1 class="card-title">Crear Login</h1>
                <p class="card-message">Crea accesos para tus empleados!</p>
                <a   href="/signup" class="card-button btn ">Visitar</a>
              </div>

            </main>

          </div>

        </div>
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>







</div>