	<div class="division-container ">
 	<div class="row ">
		 <div class="col-12 col-md-6 col-lg-4 mx-auto">
     <div class="card p-4">
		 <img src="/images/logo.jpg" alt="Logo Fazt" class="card-img-top mx-auto m-2 rounded-circle w-50">
			
		 <form action="/signin" method="POST" class="login100-form validate-form mx-auto mt-5">
					<div class="wrap-input100 ">
						
						<input class="input100" type="text" name="Usuario" placeholder="Usuario" autocomplete="off">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-envelope" aria-hidden="true"></i>
						</span>
					</div>

					<div class="wrap-input100 ">
						<input class="input100" type="password" name="Contrasena" placeholder="Contraseña">
						<span class="focus-input100"></span>
						<span class="symbol-input100">
							<i class="fa fa-lock" aria-hidden="true"></i>
						</span>
					</div>
					
					<div class="container-login100-form-btn">
						<button class="login100-form-btn">
							Iniciar Session
						</button>
					</div>

		
				</form>
	 </div>


		 </div>
	 </div>
	</div>